@import "./properties.css";

.root {
  font-size: var(--date-input-font-size);
}

.root,
.root * {
  box-sizing: border-box;
}

.icon {
  color: #999999;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.input {
  width: 100%;
  border: 0;
  padding: 0;
  font-size: 14px;
  color: #6f6f6f;
}

.absolutePosition {
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
}

.flex {
  display: flex;
  width: 100%;
}

.inputWrap {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
}

.initialPlaceholder {
  padding-left: 0;
  padding-right: 10px;
  cursor: pointer;
  background: none;
  border: 0;
  color: #6f6f6f;
}
