@import "./properties.css";

.root,
.root * {
  box-sizing: border-box;
}

.root {
  font-size: var(--date-input-font-size);
}

.icon {
  color: #999999;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.input {
  width: 100%;
  border: 0;
  padding: 0;
  font-size: 14px;
  color: #6f6f6f;
}

.absolutePosition {
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
}

.flex {
  display: flex;
  width: 100%;
}

.label {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.label > * {
  margin-left: 10px;
}

.separator:last-child {
  display: none;
}

.active .separator {
  background: var(--toolbar-active-color);
}

.separator {
  width: 1px;
  height: 20px;
  background: #6f6f6f;
}

.inputWrap {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
}

.initialPlaceholder {
  padding: 0;
  cursor: pointer;
  background: none;
  border: 0;
  color: #6f6f6f;
}
