@import "./properties.css";

.root,
.root * {
  box-sizing: border-box;
  outline: none;
}

.root {
  display: flex;
  width: 100%;
  background-color: var(--toolitem-background-color);
  border-radius: 3px;
  border: 1px solid var(--toolitem-border-color);
  padding: 1px;
  box-shadow: var(--toolitem-box-shadow);
  font-family: var(--toolitem-font-family);
  font-size: var(--toolitem-font-size);
  transition: border-color 100ms ease-in-out;
  position: relative;
  z-index: 1;
}

.active,
.focused {
  border-color: var(--toolitem-focused-color);
}

.separator {
  background: var(--toolitem-separator-color);
}

.active .separator,
.focused .separator {
  background-color: var(--toolitem-focused-color);
}

.active svg,
.focused svg {
  color: var(--toolitem-focused-color);
}

.toolbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--toolbar-height);
}

.toolbar > div {
  margin-right: 6px;
  width: auto;
}

.toolbar > div:last-child {
  margin-right: 0;
}

.toolbar input,
.toolbar > div {
  height: 100%;
}

.toolbar > div:nth-child(2) {
  width: 100%;
}
