@import "./properties.css";

.root,
.root * {
  box-sizing: border-box;
  outline: none;
}

.root {
  display: flex;
  width: 100%;
  background-color: var(--toolitem-background-color);
  border-radius: 3px;
  border: 1px solid var(--toolitem-border-color);
  z-index: 0;
  padding: 1px;
  box-shadow: var(--toolitem-box-shadow);
  font-family: var(--toolitem-font-family);
  font-size: var(--toolitem-font-size: 14px);
  transition: border-color 100ms ease-in-out;
}

.active,
.focused {
  border-color: var(--toolitem-focused-color);
}

.root.active svg,
.root.focused svg {
  color: var(--toolitem-focused-color);
}

