:root {
  --extra-red-2: #951d3c;
  --extra-red-1: #e00403;
  --extra-blue-1: #4ca9d7;
  --extra-blue-2: #244d85;
  --extra-grey: #557280;
  --extra-green-1: #53be76;
  --extra-green-2: #35794b;
  --extra-purple-1: #8c68d4;
  --extra-purple-2: #5b2886;
  --extra-orange-1: #f16518;
  --extra-orange-2: #bf5316;
  --extra-yellow: #fcb20a;
  --black: #000000;
  --white: #ffffff;
}
